/* Write CSS here */

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
}
.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 64px;
  margin-left: 160px;
}
.heading {
  color: #333333;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
}
.timer-container {
  height: 250px;
  width: 250px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
}
.time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image {
  width: 30px;
  height: 30px;
}
.time {
  font-family: 'Roboto';
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  padding-left: 10px;
}
.time-heading {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 700;
  color: #333333;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.start-button {
  height: 26px;
  width: 55px;
  padding: 4px;
  font-weight: 10px;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #1db05f;
  border: 0px;
  border-radius: 3px;
  margin-left: 5px;
}
.stop-button {
  height: 26px;
  width: 55px;
  padding: 4px;
  font-weight: 10px;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #ef0d36;
  border: 0px;
  border-radius: 3px;
  margin-left: 5px;
}
.reset-button {
  height: 26px;
  width: 55px;
  padding: 4px;
  font-weight: 10px;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #eaa800;
  border: 0px;
  border-radius: 3px;
  margin-left: 5px;
}

@media screen and (max-width: 576px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  }

  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
